---
layout: page
title: Events
order: 1
---
<div class="right-of-header">
<img class="icon" src="/assets/main/ics-graphite.png" alt="Kommende JUG Events als ICS" />
<ul style="list-style:none;margin-left:0;">
	<li><a class="right-of-header" href="/events.ics">JUG Events</a></li>
	<li><a class="right-of-header" href="/all_events.ics">Alle Events</a></li>
</ul>
</div>
<ul class="post-list all-events">
    {% for post in site.categories.event %}
    {% if site.time < post.date %}

    <li>
        <h3>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
              {% if site.orgs[post.organizer].image %}
                <img class="icon" src="/assets/partners/{{ site.orgs[post.organizer].image}}"/>
              {% endif %}
              {{ post.title }}
            </a>
        </h3>

        <div style="overflow: auto">
            {% include event-metadata-inline.html %}
            {% if post.image %}
            <img src="{{ post.image }}" class="speaker" style="display:inline;" />
            {% endif %}
            {{ post.excerpt }}
            {% if post.excerpt != post.content %}
            <a href="{{ post.url | prepend: site.baseurl }}">(weiterlesen...)</a>
            {% endif %}
        </div>
        {% if post.categories contains "event" and post.organizer contains "JUG" %}

        <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "EducationEvent",
          "name": "{{ post.title }}",
          "startDate" : "{{ post.date | date_to_xmlschema }}"{% if site.locations[post.location] %},
          "location" : {
            "@type" : "Place",
            "sameAs" : "{{ site.locations[post.location].url }}",
            "name" : "{{ site.locations[post.location].name }}",
            "address" : "{{ site.locations[post.location].street }}; {{ site.locations[post.location].city }}"
          }
          {% endif %}
        }
        </script>

        {% endif %}
    </li>
    {% endif %}
    {% endfor %}
    <hr style="border: none; height: 3px; color: #222; background-color: #222;"/><br/>
    <h2>Vorherige Events</h2>
    {% for post in site.categories.event %}
    {% if site.time >= post.date %}
    <li>
        <h3>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
              {% if site.orgs[post.organizer].image %}
                <img class="icon" src="/assets/partners/{{ site.orgs[post.organizer].image}}"/>
              {% endif %}
              {{ post.title }}
            </a>
        </h3>

        <div style="overflow: auto">
            {% include event-metadata-inline.html %}
            {% if post.image %}
            <img src="{{ post.image }}" class="speaker" style="display:inline;"/>
            {% endif %}
            {{ post.excerpt }}
            {% if post.excerpt != post.content %}
            <a href="{{ post.url | prepend: site.baseurl }}">(weiterlesen...)</a>
            {% endif %}
        </div>
        {% if post.categories contains "event" and post.organizer contains "JUG" %}

        <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "EducationEvent",
          "name": "{{ post.title }}",
          "startDate" : "{{ post.date | date_to_xmlschema }}"{% if site.locations[post.location] %},
          "location" : {
            "@type" : "Place",
            "sameAs" : "{{ site.locations[post.location].url }}",
            "name" : "{{ site.locations[post.location].name }}",
            "address" : "{{ site.locations[post.location].street }}; {{ site.locations[post.location].city }}"
          }
          {% endif %}
        }
        </script>

        {% endif %}
    </li>
    {% endif %}
    {% endfor %}
</ul>
