---
layout: page
title: Alle Events
order: 1
---
<ul class="post-list">
    {% for post in site.categories.event %}
    <li>
        <h3>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                <img class="icon" src="/assets/{{ site.orgs[post.organizer].image}}"/>
                {{ post.title }}
            </a>
        </h3>

        <div class="alert alert-info event-meta">
            <div class="event-meta-left">
                Am {{ post.date | date: "%d.%m.%Y" }}<br>
                um {{ post.date | date: "%R" }} Uhr
            </div>
            <div class="event-meta-right">
                {% if site.locations[post.location] %}
                <a href="{{ site.locations[post.location].url }}">
                    {{ site.locations[post.location].name }}
                </a><br>
                {{ site.locations[post.location].street }}<br>
                {{ site.locations[post.location].city }}<br>
                {% else %}
                {{ post.location }}
                {% endif %}
            </div>
        </div>
        <div>
            {{ post.excerpt }}
        </div>

    </li>
    {% endfor %}

                

