---
layout: landing
---

<div class="container-fluid">

    <div class="row">
        <img src="images/Brunswick_Coat_of_Arms.png"
             class="col-md-3"/>

        <h1 class="col-md-6">JUG-Ostfalen</h1>
        <img src="images/Wappen_Wolfsburg.svg"
             class="col-md-3"/>
    </div>
    <div class="row">
        <div class="col-md-7">
            <h2><a href="_pages/events.html">Events</a></h2>
            <ul class="post-list">
                {% for post in site.categories.event reversed %}
                {% if site.time < post.date %}

                <li>
                    <h3>
                        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                            <img class="icon" src="/assets/{{ site.orgs[post.organizer].image}}"/>
                            {{ post.title }}
                        </a>
                    </h3>

                    <div class="alert alert-info event-meta">
                        <div class="event-meta-left">
                            Am {{ post.date | date: "%d.%m.%Y" }}<br>
                            um {{ post.date | date: "%R" }} Uhr
                        </div>
                        <div class="event-meta-right">
                            <a href="{{ site.locations[post.location].url }}">
                                {{ site.locations[post.location].name }}
                            </a><br>
                            {{ site.locations[post.location].street }}<br>
                            {{ site.locations[post.location].city }}<br>
                        </div>
                    </div>
                    <div>
                        {{ post.excerpt }}
                    </div>

                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-5">
            <h2><a href="_pages/artikel.html">Artikel</h2>
            <ul class="post-list">
                {% for post in site.categories.article limit:10 %}
                <li>
                    <h3>
                        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    </h3>
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>


