<div class="alert alert-info event-meta">
    {% capture location_divider %}&nbsp;&middot;&nbsp;{% endcapture %}
    {% capture hour_of_day %}{{post.date | date: "%H"}}{% endcapture %}
    <div >
        Am {{ post.date | date: "%d.%m.%Y" }}
        {% if hour_of_day != "00" %}
        um {{ post.date | date: "%R" }} Uhr
        {% endif %}
    </div>
    <div >
        {% if site.locations[post.location] %}
          {% if site.locations[post.location].url %}
          <a href="{{ site.locations[post.location].url }}">
              {{ site.locations[post.location].name }}
          </a>
          {% else %}
            {{ site.locations[post.location].name }}
          {% endif %}
          {{ location_divider }}
          {% if post.room %}
            {{ post.room }}{{ location_divider }}
          {% endif %}
          <a target="_blank" href="https://www.google.de/maps/place/{{ site.locations[post.location].street }}+{{ site.locations[post.location].city }}">
          {{ site.locations[post.location].street }}{{ location_divider }}
          {{ site.locations[post.location].city }}
          </a>
          {% elsif post.location.name %}
            {% if post.location.url %}
              <a href="{{ post.location.url }}">
                {{ post.location.name }}
              </a>
            {% else %}
            {{ post.location.name }}
          {% endif %}
           {{ location_divider }}
          {% if post.location.room %}
            {{ post.location.room }}{{ location_divider }}
          {% endif %}
          <a target="_blank" href="https://www.google.de/maps/place/{{ post.location.street }}+{{ post.location.city }}" target="_blank">
            {{ post.location.street }}{{ location_divider }}
            {{ post.location.city }}
          </a>
        {% else %}
          {{ post.location }}
        {% endif %}
    </div>
    {% if post.speaker %}
    <div>
        {{ post.speaker }}
    </div>
    {% endif %}
</div>
