<div class="alert alert-info event-meta">
  {% capture hour_of_day %}{{post.date | date: "%H"}}{% endcapture %}
    <div>
        Am {{ post.date | date: "%d.%m.%Y" }}
      {% if hour_of_day != "00" %}
        <br>
        um {{ post.date | date: "%R" }} Uhr
      {% endif %}
    </div>
    <div >
        {% if site.locations[post.location] %}
          {% if site.locations[post.location].url %}
            <a href="{{ site.locations[post.location].url }}">
                {{ site.locations[post.location].name }}
            </a>
          {% else %}
            {{ site.locations[post.location].name }}
          {% endif %}
          <br>
          {% if post.room %}
            {{ post.room }}<br>
          {% endif %}
          <a target="_blank" href="https://www.google.de/maps/place/{{ site.locations[post.location].street }}+{{ site.locations[post.location].city }}">
          {{ site.locations[post.location].street }}<br>
          {{ site.locations[post.location].city }}<br>
          </a>
        {% elsif post.location.name %}
          {% if post.location.url %}
          <a href="{{ post.location.url }}">
            {{ post.location.name }}
          </a>
          {% else %}
            {{ post.location.name }}
          {% endif %}
          <br>
          {% if post.location.room %}
            {{ post.location.room }}<br>
          {% endif %}
          <a target="_blank" href="https://www.google.de/maps/place/{{ post.location.street }}+{{ post.location.city }}">
            {{ post.location.street }}<br>
            {{ post.location.city }}<br>
          </a>
        {% else %}
          {{ post.location }}
        {% endif %}
    </div>
    {% if post.speaker %}
    <div>
        {{ post.speaker }}
    </div>
    {% endif %}
</div>
