<header class="site-header">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a href="{{ site.baseurl }}/">
                <img class="navbar-image" alt="{{ site.title }}" src="{{ site.baseurl }}/assets/main/jug_final_small.png" />
                <span id="brand" class="navbar-brand">JUG Ostfalen</span>
              </a>
            </div>
            <div class="collapse navbar-collapse" id="mainNavbar">
                <ul class="nav navbar-nav navbar-right">
                    {% assign pages = site.pages | sort:"order"  %}
                    {% for page in pages %}
                    {% if page.title and page.order %}
                    <li>
                        <a href="{{ page.url | prepend: site.baseurl }}" class="navbar-menu-item">{{ page.title }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
		    <li>
			<a class="right-of-header" href="/feed.xml" target="_blank">
				rss feed
    				<img class="icon" height="24" src="/assets/main/rss.svg" alt="rss feed" />
			</a>
		   </li>	    <li>
			<a class="right-of-header" href="https://calendar.google.com/calendar/render?cid=551ac371ce8046b99b45a7ecfd9a41b6c4a2eaaa7e15ad0d7a6fd72e10f2fae3@group.calendar.google.com" target="_blank">
				calendar
    				<img class="icon" height="24" src="/assets/main/gcalendar.svg" alt="rss feed" />
			</a>
		   </li>
                </ul>
            </div>
        </div>
    </nav>

</header>
