<header class="site-header">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a href="{{ site.baseurl }}/">
                <img class="icon navbar-image" alt="{{ site.title }}" src="{{ site.baseurl }}/assets/main/Brunswick_Coat_of_Arms.png" />
                <span id="brand" class="navbar-brand">JUG-Ostfalen</span>
                <img class="icon navbar-image" alt="{{ site.title }}" src="{{ site.baseurl }}/assets/main/Wappen_Wolfsburg.svg" />
              </a>
            </div>
            <div class="collapse navbar-collapse" id="mainNavbar">
                <ul class="nav navbar-nav navbar-right">
                    {% assign pages = site.pages | sort:"order"  %}
                    {% for page in pages %}
                    {% if page.title %}
                    <li>
                        <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>

</header>
