/*
* pages
*/

.page-title {
  font-size: 36px;
  letter-spacing: -1px;
  line-height: 1;
}

/*
events
*/
.event-meta{
  overflow: auto;
}

img.speaker{
  float: left;
  width: 200px;
  margin: 10px;
}

img.speaker.right{
  float: right;
}

.navbar-image {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 48px;
}

.navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-left: 0;
}
