---
layout: default
---

<div class="post">

    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>

        <p class="post-meta">
            {% include date_ger.html date=page.date %}
            {% if page.author %} •
            {% assign author = site.authors[page.author] %}
            <a data-toggle="tooltip" data-placement="top" title="{{ author.blurb }}"
               href="{{ author.url }}">{{ author.display_name }}</a>
            {% endif %}</p>
    </header>

    <article class="post-content">
        {% assign post = page %}
        {% include event-metadata-inline.html %}
        <p>
            {% if page.city== "wob" %}
            <img src="/assets/partners/hacktalk-wob-gross.png" class="speaker"/>
            {% else %}
            <img src="/assets/partners/hacktalk-gross.png" class="speaker"/>
            {% endif %}
            Der HackTalk findet jeden ersten Dienstag (in Wolfsburg) und jeden letzen Dienstag (in Braunschweig) im Monat um 17:00 statt.

            Obwohl in Wolfsburg viele Entwickler arbeiten, bildet sich nur langsam eine aktive Entwickler-Community. Neben JUG-Veranstaltungen und gelegentlichen Vorträgen soll der Entwicklerstammtisch der Versuch sein, eine weitere Plattform zum Austauschen zu bieten.

            Welchen Anspruch an technische Themen hat diese Veranstaltung?

            Die Veranstaltung soll ein gemütliches Miteinander UND technischer Austausch sein. Es wird deshalb Lightning Talks zu technischen Themen geben.

            Warum 17:00?

            Er ist bewusst zur "Nach der Arbeit noch ein gemeinsames Bier"-Zeit angelegt. Neuankömmlinge können hier Kontakt finden und alte Hasen können "Kriegsgeschichten" austauschen. Natürlich sind Entwickler aller Stilrichtungen willkommen.
        </p>
        <p>
            <strong>
                {% if page.xing_link %}
                <a href="{{ page.xing_link }}">Anmeldung über Xing</a>
                {% else %}
                Anmeldung über Xing (Link folgt in Kürze)
                {% endif %}
            </strong>
        </p>
    </article>

</div>
