---
layout: default
---

<div class="post">

    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>

        <p class="post-meta">
            {{ page.date | date: "%-d." }}
            {% assign m = page.date | date: "%-m" %}
            {% case m %}
            {% when '1' %}Januar
            {% when '2' %}Februar
            {% when '3' %}M&auml;rz
            {% when '4' %}April
            {% when '5' %}Mai
            {% when '6' %}Juni
            {% when '7' %}Juli
            {% when '8' %}August
            {% when '9' %}September
            {% when '10' %}Oktober
            {% when '11' %}November
            {% when '12' %}Dezember
            {% endcase %}
            {{ page.date | date: " %Y" }}
            {% if page.author %} •
            {% assign author = site.authors[page.author] %}
            <a data-toggle="tooltip" data-placement="top" title="{{ author.blurb }}"
               href="{{ author.url }}">{{ author.display_name }}</a>
            {% endif %}</p>
    </header>

    <article class="post-content">
        {% if page.categories contains "event" %}
            {% assign post = page %}
            {% include event-metadata-inline.html %}
        {% endif %}
        {{ content }}
    </article>

</div>
{% if page.categories contains "event" %}
{% assign post = page %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "EducationEvent",
  "name": "{{ post.title }}",
  "startDate" : "{{ post.date | date_to_xmlschema }}"{% if site.locations[post.location] %},
  "location" : {
    "@type" : "Place",
    "sameAs" : "{{ site.locations[post.location].url }}",
    "name" : "{{ site.locations[post.location].name }}",
    "address" : "{{ site.locations[post.location].street }}; {{ site.locations[post.location].city }}"
  }
  {% endif %}
}
</script>

{% endif %}
