---
layout: default
---

<div class="post">

    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>

        <p class="post-meta">
            {% include date_ger.html date=page.date %}
            {% if page.author %} •
            {% assign author = site.authors[page.author] %}
            <a data-toggle="tooltip" data-placement="top" title="{{ author.blurb }}"
               href="{{ author.url }}">{{ author.display_name }}</a>
            {% endif %}</p>
    </header>

    <article class="post-content">
        {% if page.categories contains "event" %}
            {% assign post = page %}
            {% include event-metadata-inline.html %}
        {% endif %}
        {% if page.image %}
        <p><img src="{{ page.image }}" class="speaker" /></p>
        {% endif %}
        {{ content }}
        {% if page.categories contains "event" %}
          {% if page.organizer contains "JUG" or page.organizer contains "jug-und-net" %}
            <i>Eine Veranstaltung des iJUG e.V., organisiert durch die JUG Ostfalen.</i>
          {% endif %}
        {% endif %}
    </article>

</div>
{% if page.categories contains "event" and page.organizer contains "JUG" %}
{% assign post = page %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "EducationEvent",
  "name": "{{ post.title }}",
  "startDate" : "{{ post.date | date_to_xmlschema }}"{% if site.locations[post.location] %},
  "location" : {
    "@type" : "Place",
    "sameAs" : "{{ site.locations[post.location].url }}",
    "name" : "{{ site.locations[post.location].name }}",
    "address" : "{{ site.locations[post.location].street }}; {{ site.locations[post.location].city }}"
  }
  {% endif %}
}
</script>

{% endif %}
